@font-face {
    font-family: "Din";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/refs/heads/main/fonts/DIN%20Medium.woff2") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* @font-face {
    font-family: "Din";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/refs/heads/main/fonts/DIN%20Regular.woff2") format("truetype");
    font-weight: 400;
    font-style: normal;
} */

@font-face {
    font-family: "Din";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/refs/heads/main/fonts/DIN%20Bold.woff2") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Din";
    src: url("./fonts/PFDinTextPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

:root {
  --primary-bg-color: #d3d9dd; 
  --primary-main-text: #121212;
  --primary-second-text: #666868;
  --primary-border:3px solid #c4c8cb;
}

*{
    font-family: "DIN", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height:1.5em;
}

body{
    background-color: #302d32;
}

.chat__container {
    max-width: 720px;
    width: 100%;
    border-radius: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    margin: 200px auto 0;
    background-color: var(--primary-bg-color);

}
.title__container {
    padding: 11.5px 34.5px;
    border-bottom:var(--primary-border);
}
.title__name {
    font-weight: 600;
    font-size: 28.06px;
    line-height:42.09px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    color: var(--primary-main-text);
}

.title__text {
    font-size: 20px;
    color: #666868;
    font-weight: 400;

}

.main {
}
.companion {
}
.companion__avatar {
}
.companion__text {
}
.companion__name {
}
.companion__message {
}
.pov {
}
.pov__avatar {
}
.pov__text {
}
.pov__name {
}
.pov__message {
}
.gray__border {
    border: var(--primary-border);
}
.alert {
}