
@font-face {
    font-family: "Din";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/refs/heads/main/fonts/DIN%20Regular.woff2") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Din";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/refs/heads/main/fonts/DIN%20Medium.woff2") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Din";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/refs/heads/main/fonts/DIN%20Bold.woff2") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Din Pro";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/refs/heads/main/fonts/PFDinTextPro-Regular.woff2") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Din Pro";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/refs/heads/main/fonts/PFDinTextPro-Medium.woff2") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Din Pro";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/refs/heads/main/fonts/PFDinTextPro-Bold.woff2") format("truetype");
    font-weight: 600;
    font-style: normal;
}


:root {
  --bg-color: #d3d9dd; 
  --main-text: #121212;
  --second-text: #666868;
  --border-color:#c4c8cb;
  --border:3px solid #c4c8cb;
  --alert-color:#858586;
}

*{
    font-family: 'Bahnschrift', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height:1.5em;
}

body{
    background-color: #302d32;
}

.chat__container {
    max-width: 720px;
    width: 100%;
    height: 713px;
    border-radius: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    background-color: var(--bg-color);

}

.chat__container:after{
    content: " ";
    position: absolute;
    transform: translate3d(-10px, 10px, 0);
    border: 2px solid rgba(255, 255, 255, .135);
    box-sizing: border-box;
    top: 0;
    border-radius: 0 40px 0 0;
    z-index: -1;
}

.title__container {
    padding: 11.5px 34.5px;
    border-bottom:var(--border);
}
.title__name {
    font-weight: 600;
    font-size: 28.06px;
    line-height:42.09px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    color: var(--main-text);
}

.title__text {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 20px;
    color: #666868;
    font-weight: 600;

}

.main {
    box-sizing: content-box;
    margin: 23px 34.5px;
}
.companion {
}
.companion__avatar {
}
.companion__text {
}
.companion__name {
}
.companion__message {
}
.pov {
}
.pov__avatar {
}
.pov__text {
}
.pov__name {
}
.pov__message {
}
.gray__border {
    height:2px;
    border-width:0;
    color:var(--border-color);
    background-color:var(--border-color);
}
.alert {
    font-family: 'Bahnschrift', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #858586;
    font-weight: 380;
}

.alert::before {
    content: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/refs/heads/main/icons/hsr_action.png");
    width: 20px;
    height: 30px;
    margin-right: 20px;
}