@font-face {
    font-family: "Din";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/be4f01b3a69041bbbbaf5b4d1ea2497b1109681e/fonts/DIN%20Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Din";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/be4f01b3a69041bbbbaf5b4d1ea2497b1109681e/fonts/DIN%20Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Din";
    src: url("https://github.com/RunaNevermind/HSR-stikers-fonts/raw/be4f01b3a69041bbbbaf5b4d1ea2497b1109681e/fonts/DIN%20Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

*{
    font-family: "DIN", sans-serif;
    font-weight: 600;
}

